h3 {
    font-weight: 600
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -15px
}

.filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding-left: 50px
}

.filters .amenities {
    height: 100%;
    widht: 25%;
    padding-left: 50px
}